<!DOCTYPE html>
<!--[if lte IE 7]>
<html lang="ko" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]>
<html lang="ko" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ko"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Payment Make Friends</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="shortcut icon" href="//imgs.coupangcdn.com/image/coupang/favicon/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
{{> layouts/navbar}}
<div class="content col-md-4 col-md-offset-4">
    <!--//{{#block "content"}}{{/block}}-->
    <form action="/members/save" method="POST">
        <div class="form-group">
            <label for="inputUserId">Username</label>
            <input type="text" class="form-control" name="userId" id="inputUserId" placeholder="아이디">
        </div>
        <div class="form-group">
            <label for="inputNickname">Nickname</label>
            <input type="text" class="form-control" name="nickname" id="inputNickname" placeholder="닉네임">
        </div>

        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" name="password" id="inputPassword" placeholder="비밀번호">
        </div>
        <div class="form-group">
            <label for="inputPasswordConfirm">Password Confirm</label>
            <input type="password" class="form-control" id="inputPasswordConfirm" placeholder="비밀번호 확인">
        </div>
        <div class="form-group">
            <label for="inputPhoneNum">Phone Number</label>
            <input type="tels" class="form-control" name="phoneNumber" id="inputPhoneNum" placeholder="전화번호">
        </div>
        <div class="form-group">
            <label for="inputEmail">Email Address</label>
            <input type="email" class="form-control" name="email" id="inputEmail" placeholder="이메일">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

{{!-- 페이지별 추가 스크립트 등 --}}
{{#block "foot"}}{{/block}}
</body>
<footer>
</footer>
</html>
