<!DOCTYPE html>
<!--[if lte IE 7]>
<html lang="ko" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]>
<html lang="ko" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ko"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Payment Make Friends</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    {{> layouts/headers}}
</head>

<body>
{{> layouts/navbar}}
<div class="content container-fluid" style="width: 60%; padding-top: 20px; padding-bottom: 20px;">
    {{> gathering/gatheringList}}
    <a class="btn btn-default" href="/gatherings/regist" role="button" style="text-align: right">모임 등록</a>
</div>
</body>
<footer>

</footer>
</html>
